{% extends 'base.html' %}

{% block body %}

<h1><a href="/">Início</a> / <a href="/{{ table_name }}/">{{ table_name | replace('-', ' ') | title }}</a> / {{ data | record2name(table=table) }}</h1>

<form method="post" action="/{{ table_name }}/{{ data[columns.keys().index(primary_key)] }}/">
  {% for item in data %}
    <div>
      {% set column_name = columns.keys()[loop.index0] %}
      {% set column = columns[column_name] %}
      <label>{{ column_name }}:</label>

      {% set foreign_key = foreign_keys.get(column_name) %}
      {% if foreign_key and tables[tablenames[foreign_key.table]]['primary_key'] %}
        <a target="_blank" href="/{{ tablenames[foreign_key.table] }}/{{ item }}/">
          {{ item | get_from(foreign_key.table) | record2name(foreign_key.table) }}</a>

        <select name="{{ column_name }}">
          <option value="0"></option>
          {% for record in foreign_key.table | select %}
            {% set id = record | record2id(foreign_key.table) %}
            <option value="{{ id }}"
                    {% if item == id %}selected{% endif %}>
              {{ record | record2name(foreign_key.table) }}
            </option>
          {% endfor %}
        </select>
      {% elif column.type.__visit_name__  == 'TEXT' %}
        {% if not column.type.length or column.type.length > 100 %}
          <textarea name="{{ column_name }}">{{ item }}</textarea>
        {% else %}
          <input name="{{ column_name }}"
                 maxlength="{{ column.type.length }}"
                 style="width: {{ (column.type.length * 8 ) + 8 }}px"
                 value="{{ item }}">
        {% endif %}
      {% else %}
        <input name="{{ column_name }}"
               value="{{ item }}">
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit">SALVAR</button>
</form>

<div>
  <ul>
  {% for table, column in keys_pointing_at.get(table, {}).items() | sort %}
    <li>
      <h2>{{ tablenames[table] }}</h2>
      <ul>
        {% for record in table | select(where=column == data[primary_key]) %}
          <li><a href="/{{ tablenames[table] }}/{{ record[tables[tablenames[table]]['primary_key']] }}/">{{ record | record2name(table) }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
