{% extends 'base.html' %}

{% block body %}

<h1><a href="/">Início</a> / <a href="/{{ table_name }}/">{{ table_name | replace('-', ' ') | title }}</a></h1>

<table>
  <tr>
    <th></th>
    {% for name in columns %}
      <th>{{ name }}</th>
    {% endfor %}
  </tr>
    {% for row in rows %}
    <tr>
      <td>
        {% if primary_key %}
        <a href="/{{ table_name }}/{{ row[columns.index(primary_key)] }}">VER</a>
        {% endif %}
      </td>
      {% for item in row %}
        <td>
          {% if columns[loop.index0] in foreign_keys %}
            <a href="/{{ tablenames[foreign_keys[columns[loop.index0]]] }}/{{ item }}">{{ item }}</a>
          {% else %}
            {{ item }}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tr>
</table>

<a href="?from={{ offset + limit }}">próxima</a>

{% endblock %}
