{% extends 'base.html' %}

{% block body %}

<h1><a href="/">Início</a> / <a href="/{{ table_name }}/">{{ table_name | replace('-', ' ') | title }}</a></h1>

<table>
  <thead>
    <tr>
      <th></th>
      {% for name, column in columns.items() %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>
        {% if primary_key %}
        <a href="/{{ table_name }}/{{ row[columns.keys().index(primary_key)] }}">VER</a>
        {% endif %}
      </td>
      {% for item in row %}
        {% set column_name = columns.keys()[loop.index0] %}

        {% if item %}
          <td title="{{ column_name }}">
            {% if column_name in foreign_keys %}
              {% set foreign_key = foreign_keys[columns.keys()[loop.index0]] %}

              <a href="/{{ tablenames[foreign_key.table] }}/{{ item }}/">
                {{ item | fk2name(table=foreign_key.table, column=foreign_key.column) }}
              </a>
            {% else %}
              {{ item }}
            {% endif %}
          </td>
        {% else %}
          <td data-null></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form method="get" action="{{ request.url | add_query_params({'from': offset + limit}) }}">
  <input value="{{ limit }}" name="show" size=2>
  <button type="submit">por página</button>
</form>
<a href="{{ request.url | add_query_params({'from': offset + limit}) }}">próxima</a>

{% endblock %}
